body{
    margin: 0px;
}

.navbar{
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
}

.button{
    color: white;
    border: 0px;    
    padding: 10px;
    border-radius: 10px;    
    font-weight: bolder;   
}

.main-button{
    background-color: #3BB2BF;
}

.button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main-button:hover{
    box-shadow: 1px 1px #80BFCC;
}

.secondary-button{
    background-color: #145873;
}

.secondary-button:hover{
    box-shadow: 1px 1px #80BFCC;
}

.busqueda{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}

.enter{
    border-radius: 10px;
    border: 1px solid gray;
}